body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

header {
    background: rgb(31, 24, 24);
    color: white;
    padding: 15px;
    text-align: center;
}

nav {
    background: rgb(99, 84, 38);
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

nav a {
    color: aliceblue;
    padding: 15px;
}

nav a:hover {
    background-color: rgb(165, 151, 131);
    color: black;
}

section {
    background: rgb(220, 220, 220);
    color: rgb(0, 0, 0);
    padding: 20px;
    margin: 30px;
    text-align: center;
}

.cajahover {
    background-color: rgb(165, 151, 131);
    padding: 20px;
    margin: 10px auto;
    width: 250px;
}

.cajahover:hover {
    background-color: rgb(48, 39, 23);
    color: white;
}

.botonactive {
    padding: 10px 20px;
    background-color: rgb(116, 85, 44);
    color: rgb(34, 14, 0);
    cursor: pointer;
}

.botonactive:active {
    background-color: rgb(49, 28, 10);
    color: white;
}

input[type="text"] {
    padding: 10px;
    border: 2px solid rgb(116, 85, 44);
}

input[type="text"]:focus {
    background-color: rgb(78, 56, 14);
    color: white;
}

.spaninteractivo {
    color: rgb(97, 66, 23);
    font-weight: bold;
}

.spaninteractivo:hover {
    color: white;
    background-color: rgb(54, 36, 12);
    padding: 5px;
}

footer {
    text-align: center;
    background: rgb(4, 23, 85);
    color: white;
    padding: 5px;
}